/*проект переделан по видео урокам создания сайта ради бога надеюсь в этот раз без косяков :')*/

.container {
  
}

.body {
  width: 1100px;
  margin: auto;
}

.header {
  display: flex;
  height: 293px;
  width: 1100px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: #000 1px solid;

}

.header-menu {
  display: flex; 
  height: 100%; 
  width: 454px; 
  justify-content: center; 
  align-items: center;
}

.header-menu-list {
  display: flex;
  gap: 32px;
}

.header-menu-list-item {
  list-style: circle;
  text-wrap: nowrap;
}

.header-links-list-item_no-bullit {
  text-decoration: none;
  list-style: none;
}

.header-link {
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  color: #000;
}

.header-logo-link {
  margin: auto;
}

.header-logo-image {
  display: flex;
  justify-self: center;
  width: 148px;
  height: 105px;
  align-self: center;
}

.address {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-self: flex-end;
  width: 454px;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.adress-color {
  color: #000;
}

.adress-end {
  width: 240px;
  height: 98px;
  display: flex;
  flex-direction: column;
  margin-right: 48px;
}

.cover {
  position: relative;
  padding-bottom: 58px;
  background-image: url(../images/lotus.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1102px;
  height: 100%;

}

.cover-title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 172px 50px 135px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 30px;
  text-transform: uppercase;
  margin: 0;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.aligned-text {
  display: block;
}

.aligned-text-left {
  text-align: left;
}

.aligned-text-center {
  line-height: 107%;
  text-align: center;
}

.aligned-text-right {
  line-height: 87%;
  text-align: right;
}

.cover-description {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 80px;
  margin-right: 50px;
}

.cover-description-text {
  z-index: 2;
  color: #fff;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 17px;
}

.bet-button {
  z-index: 2;
  display: inline;
  border: solid 2px #fff;
  padding: 10px 32px 10px;
  color: #fff;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  text-align: center;
  background-color: rgba(53, 69, 69, 0);
}

.bet-button-link {
  text-decoration: none;
}

.overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgb(0%, 0%, 0%, 0.6);
}

.lots {
  display: flex;
  flex-direction: column;
  width: 1100px;
}

.lots-heading {
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
}

.lots-card-list {
display: grid;
grid-template-columns: 334px 334px 334px;
column-gap: 25px;
  
}

.lots-card-list-item {
  flex-grow: 1;
  flex-basis: 334px;
  list-style-type: none;
  height: 563px;
}

.lots-background-film {
  background-image: url(../images/lot\ 1.png);

}

.lots-background-book {
  background-image: url(../images/lot\ 2.png);
}

.lots-background-picture {
  background-image: url(../images/lot\ 3.png);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 450px;
  padding: 50px 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  height: 460px;
}

.lots-link-card {
  text-decoration: none;
}

.card-title {
  z-index: 1;
  color: #fff;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  margin: 0;
}

.card-text {
  z-index: 1;
  color: #fff;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.lots-look-more-link {
  margin: 50px 44px;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.about {
  display: flex;
  justify-content: space-between;
}

.about-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-left: 143px;
  border-radius: 200px;
  background-color: #000;
}

.about-logo-image {
  width: 148px;
  height: 114px;
}

.about-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 100px;
  width: 885px;
  margin-top: 36px;
  margin-right: 50px;
}

.about-column-title {
  margin-top: 65px;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.about-column-text-p {
  margin-bottom: 30px;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 23px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 157px 50px 90px 50px;
  color: #000;
}

.footer-menu {
  display: flex;
  margin-left: 5px;
}

.footer-menu-list-item {
  list-style: none;
  list-style-type: none;
}

.footer-menu-link {
  display: block;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
}

.footer-menu-link-active {
  text-decoration: none;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.footer-social-list-item {
  list-style-type: none;
}

.footer-social-icon {
  height: 48px;
}